:root {
  --color-primary-light: #ff801f;
  --color-secondary-light: #191970;
  --color-bg-light: #ffffff;
  --color-text-light: #1c1b1b;
  --color-primary-dark: #ff801f;
  --color-secondary-dark: #191970;
  --color-bg-dark: #1c1b1b;
  --color-text-dark: #ffffff;
  --color-blank-gray: rgb(140, 130, 115);
}
