:root {
  --color-primary-light: #4b0082;
  --color-secondary-light: #f2bd27;
  --color-bg-light: #ffffff;
  --color-text-light: #1c1b1b;
  --color-primary-dark: #4b0082;
  --color-secondary-dark: #f2bd27;
  --color-bg-dark: #1c1b1b;
  --color-text-dark: #ffffff;
}
